.left-nav {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(12, 45, 58, 0.481);
  
}

.left-nav a {
  text-decoration: none;
  color: white;
}

.left-nav li {
  list-style: none;
  margin: 5px 0;
}
